.rocket {
    position: sticky;
    z-index: 0;
    top: 20px;
    right: 16px;
    border-radius: 10px;
    max-height: 1450px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #474e58 #0095c8;
    &::-webkit-scrollbar {
        width: 11px;
    }
    &::-webkit-scrollbar-track {
        background: #474e58;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #0095c8;
        border-radius: 14px;
        border: 0.5px solid #474e58;
    }
}
