.projectHeader {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #1f263075;
    }
    h2 {
        position: relative;
    }
}
