.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    list-style-type: none;

    .pagination-item {
        margin: auto 4px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 20px;
        border: 1px solid #fff;
        padding: 9px 16px;
        width: 44px;
        height: 42px;
        color: #0095c8;
        svg {
            width: 14.402px;
            height: 12px;
            flex-shrink: 0;
            path {
                stroke: #0095c8;
            }
        }
        &.disabled {
            svg {
                path {
                    stroke: #c8c8c8;
                }
            }
        }

        &.dots:hover {
            background-color: transparent;
            cursor: default;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.56);
            cursor: pointer;
            color: #fff;
            svg {
                path {
                    stroke: #c8c8c8;
                }
            }
        }

        &.selected {
            background-color: rgba(255, 255, 255, 0.56);
            color: #fff;
        }
        &.bg-white:hover {
            background-color: white;
        }

        .arrow {
            &::before {
                position: relative;
                /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
                content: "";
                /* By using an em scale, the arrows will size with the font */
                display: inline-block;
                width: 0.4em;
                height: 0.4em;
                border-right: 0.12em solid rgba(0, 0, 0, 0.87);
                border-top: 0.12em solid rgba(0, 0, 0, 0.87);
            }

            &.left {
                transform: rotate(-135deg) translate(-50%);
            }

            &.right {
                transform: rotate(45deg);
            }
        }

        &.disabled {
            pointer-events: none;

            &:hover {
                background-color: transparent;
                cursor: default;
            }
        }
    }
}
